* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid white;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.textbeer {
  font-size: larger;
  font-family: "Roboto", sans-serif;
  color: #444444;
  text-align: center;
  background-color: white;
  opacity: 80%;
  width: 40%;
  height: 220px;
  margin: auto;
  margin-top: 40px;
  padding: 10px;
  border: 10px solid black;
}

.form {
  font-size: larger;
  font-family: "Roboto", sans-serif;
  color: #444444;
  text-align: center;
  background-color: white;
  opacity: 90%;
  width: 40%;
  height: 450px;
  margin: auto;
  margin-top: 40px;
  padding: 10px;
  border: 1px solid black;
}

button {
  font-family: "Roboto", sans-serif;
  background-color: #444444;
  color: white;
  cursor: pointer;
  font-size: larger;
  font-style: italic;
  padding: 6px 10px;
  text-decoration: none;
  width: 50%;
}

.name {
  display: block;
  text-align: left;
  width: 50%;
  background-color: #444444;
  color: white;
  text-transform: uppercase;
  margin: auto;
}

#name {
  font-size: larger;
  font-style: italic;
  background-color: white;
  width: 100%;
  margin: auto;
  height: 40px;
}

.email {
  display: block;
  text-align: left;
  width: 50%;
  background-color: #444444;
  color: white;
  text-transform: uppercase;
  margin: auto;
}

#email {
  font-size: larger;
  font-style: italic;
  background-color: white;
  width: 100%;
  margin: auto;
  height: 40px;
}

.date {
  display: block;
  text-align: left;
  width: 50%;
  background-color: #444444;
  color: white;
  text-transform: uppercase;
  margin: auto;
}

#date {
  font-size: larger;
  font-style: italic;
  background-color: white;
  width: 100%;
  margin: auto;
  height: 40px;
}

footer {
  font-family: "Roboto", sans-serif;
  color: #444444;
  text-align: center;
  font-size: x-large;
  margin-top: 40px;
  margin-bottom: 40px;
}
